body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-title {
  position: absolute;
  top: 45%;
  left: 30%;
}

#azul{
	background-color: #80DAEB;
}

#padre {
  border-bottom: 20px solid #FFFFFF;
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  display: inline-block; /* para que solo ocupe el ancho de la imagen */
}


#imagenes {
  border: 6px solid #FFFFFF;
}

#campo {
  border: 10px solid #80DAEB;
}
